@import "~bootstrap/dist/css/bootstrap.min.css";
.card {
  height: 200px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
}
.header {
  font-size: 35px;
}
.body {
  font-size: 50px;
  margin-top: -10px;
}
.footer {
  margin-top: -15px;
  font-size: 35px;
}
.f {
  transform: rotate(180deg);
}

.alertDisplay {
  display: none;
  text-align: center;
  width: 20%;
  margin-top: 20px;
}
